@model IEnumerable<E_commerce.Models.Supplier>

@{
    ViewBag.Title = "Suppliers";
}

    <h2>Suppliers</h2>

    <p>
        @Html.ActionLink("Search", "Search") <br /> @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SupplierId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SupplierId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SupplierId })
                </td>
            </tr>
        }

    </table>